@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'ZCOOL QingKe HuangYou';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('ZCOOL QingKe HuangYou Regular'), local('ZCOOLQingKeHuangYou-Regular'), url(https://fonts.gstatic.com/s/zcoolqingkehuangyou/v5/2Eb5L_R5IXJEWhD3AOhSvFC554MOOahI4mR4jPe4.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  max-width: 100%;
}
.container {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1500px;
  font-family: 'Roboto', sans-serif;
}
.container nav {
  width: 60%;
  padding: 2% 0;
  display: flex;
  justify-content: flex-end;
}
.container nav .links {
  display: flex;
  width: 40%;
  justify-content: space-between;
}
.container nav .links a {
  text-decoration: none;
  color: grey;
}
.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.container .header-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 55vh;
  align-items: center;
  background-color: #e6e6e6;
}
.container .header-container .main-header {
  width: 98%;
  align-items: center;
  border-bottom: solid 1px #cccccc;
}
.container .header-container .main-header img {
  width: 35%;
  height: 25vh;
}
@media (max-width: 500px) {
  .container .header-container .main-header img {
    display: none;
  }
}
.container .header-container .main-header #main-title {
  font-size: 50px;
  margin: 0 auto;
}
.container .header-container .main-header h5 {
  font-size: 30px;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-bottom: 1%;
}
.container .header-container .buttonDiv {
  width: 98%;
}
.container .header-container .buttonDiv .button {
  border-style: none;
  border-radius: 3px;
  width: 15%;
  color: white;
  background-color: slategrey;
}
.container .content {
  width: 60%;
  height: 41vh;
  display: flex;
  justify-content: space-between;
}
.container .content .first-box {
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 45%;
}
.container .content .first-box .smaller-text {
  font-size: 0.8rem;
}
.container .content .second-box {
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 45%;
  text-align: center;
}
.container .content .second-box p {
  width: 100%;
  margin: 0px;
  border: 1px #e6e6e6 solid;
  line-height: 2.5rem;
}
.container .work-history {
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 30vh;
  align-items: center;
}
.container .work-history h3 {
  width: 100%;
  text-align: left;
}
.container .work-history .table {
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container .work-history .table table tbody {
  padding: 0px;
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: 100%;
  border-spacing: 0px;
}
.container .work-history .table table tbody .first-row {
  display: flex;
  width: 100%;
  background-color: #cccccc;
  border: 1px black solid;
}
.container .work-history .table table tbody .first-row th {
  flex-basis: 25%;
  border: solid 1px lightgrey;
  padding: 0.5% 7%;
}
.container .work-history .table table tbody .second-row {
  display: flex;
  width: 100%;
}
.container .work-history .table table tbody .second-row td {
  flex-basis: 25%;
  border: solid 1px lightgrey;
  padding: 0.5% 3%;
}
.container .work-history .table table tbody .third-row {
  display: flex;
  width: 100%;
  background-color: #cccccc;
}
.container .work-history .table table tbody .third-row td {
  flex-basis: 25%;
  border: solid 1px lightgrey;
  padding: 0.5% 3%;
}
.container .work-history .table table tbody .last-row {
  display: flex;
  width: 100%;
}
.container .work-history .table table tbody .last-row td {
  flex-basis: 25%;
  border: solid 1px lightgrey;
  padding: 0.5% 3%;
}
.master {
  display: flex;
  flex-direction: column;
  width: 1440px;
  margin-left: 4.5%;
  font-family: 'Titillium Web', sans-serif;
}
.master h1,
.master h2,
.master h3,
.master h4,
.master h5,
.master h6 {
  font-family: 'Bangers', cursive;
}
.master .header {
  display: flex;
  width: 100%;
}
.master .header .navbar {
  display: flex;
  height: 10vh;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}
.master .header .navbar a {
  text-decoration: none;
  color: grey;
  font-size: large;
}
.master .header .navbar .logo {
  width: 12%;
}
.master .top-section {
  width: 100%;
  display: flex;
  height: 80vh;
  justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 10vh;
  border-bottom: black 1px solid;
}
.master .top-section .button {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.master .top-section .button h1 {
  font-size: 100px;
}
.master .top-section .button btn {
  width: 35%;
  border: 1px solid black;
  padding: 15px;
}
.master .top-section .button btn a {
  text-decoration: none;
  color: black;
}
.master .top-section .code-img {
  width: 40%;
}
.master .features {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.master .features .top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 25vh;
  align-items: center;
  text-align: justify;
}
.master .features .top div {
  width: 47%;
}
.master .features .top h1 {
  font-size: x-large;
}
.master .features .top p {
  font-size: large;
}
.master .features .middle-img {
  width: 100%;
  height: 30vh;
}
.master .features .bottom {
  width: 100%;
  display: flex;
  height: 25vh;
  align-items: center;
  text-align: justify;
  justify-content: space-between;
  border-bottom: black 1px solid;
}
.master .features .bottom div {
  width: 31%;
}
.master .features .bottom h1 {
  font-size: x-large;
}
.master .features .bottom p {
  font-size: large;
}
.master footer {
  margin-top: 2%;
  width: 100%;
  height: 27vh;
}
.master footer h1 {
  font-size: x-large;
}
.master footer p {
  font-size: large;
  line-height: 2rem;
}
.master footer .copy {
  text-align: center;
}
