@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou&display=swap');
@table-row: #cccccc;

@title-font:'ZCOOL QingKe HuangYou', cursive;
@main-font:'Roboto', sans-serif;
@secon-title-font: 'Bangers', cursive;
@second-main-font: 'Titillium Web', sans-serif;
@mobile:  ~"(max-width: 500px)";
.display(@padding:15px) {
	padding: @padding;
	display: flex;
	flex-direction: column;
}
.section-sizing(@height){
	width: 60%;
	height: @height;
}
* {
	box-sizing: border-box;
	max-width: 100%;
}
.container{
	.display(0px);
	align-items: center;
	max-width: 1500px;
	font-family: @main-font;
	nav{
		width: 60%;
		padding: 2% 0;
		display: flex;
		justify-content: flex-end;
		.links{
			display: flex;
			width:40%;
			justify-content: space-between;
			a{
				text-decoration: none;
				color: grey;
			}
		}
	}
	h1, h2, h3, h4, h5, h6{
		font-family: @title-font;
	}
	.header-container{
		.display;
		.section-sizing(55vh);
		align-items: center;
		background-color: #e6e6e6;
		.main-header{
			width: 98%;
			align-items: center;
			border-bottom: solid 1px #cccccc;
			img{
				width: 35%;
				height: 25vh;
				@media @mobile{
					display: none;
				}
			}
			#main-title {
				font-size: 50px;
				margin: 0 auto;
			}
			h5{
				font-size: 30px;
				margin-top: 1%;
				margin-bottom: 1%;
				padding-bottom: 1%;
			}
		}
		.buttonDiv{
			width: 98%;
			.button{
				border-style: none;
			   border-radius: 3px;
			   width: 15%;
			   background-color: slategrey;
			   a{
				   text-decoration: none;
				   color: white;
			   }
			}
	   }
	}
	.content{
		.section-sizing(41vh);
		display: flex;
		justify-content: space-between;
		.first-box{
			.display(0px);
			width: 45%;
			.smaller-text{
				font-size: .8rem;
			}
		}
		.second-box{
			.display(0px);
			width: 45%;
			text-align: center;
			p{
				width: 100%;
				margin: 0px;
				border: 1px #e6e6e6 solid;
				line-height: 2.5rem;
			}
		}
	}
	.work-history{
		.display(0px);
		.section-sizing(30vh);
		align-items: center;
		h3{
			width: 100%;
			text-align: left;
		}
		.table{
			.display(0px);
			width: 100%;
			table{
				tbody{
					.display(0px);
					margin: 0px;
					width: 100%;
					border-spacing: 0px;
					.first-row{
						display: flex;
						width: 100%;
						background-color: @table-row;
						border: 1px black solid;
						th{
							flex-basis: 25%;
							border: solid 1px lightgrey;
							padding: .5% 7%;
						}
					}
					.second-row{
						display: flex;
						width: 100%;
						td{
							flex-basis: 25%;
							border: solid 1px lightgrey;
							padding: .5% 3%;
						}
					}
					.third-row{
						display: flex;
						width: 100%;	
						background-color: @table-row;
						td{
							flex-basis: 25%;
							border: solid 1px lightgrey;
							padding: .5% 3%;
						}
					}
					.last-row{
						display: flex;
						width: 100%;
						td{
							flex-basis: 25%;
							border: solid 1px lightgrey;
							padding: .5% 3%;
						}
					}
				}	
			}
		}
	}
}

.master{
	.display(0px);
	width: 1440px;
	margin-left: 4%;
	font-family: @second-main-font;
	h1, h2, h3, h4, h5, h6{
		font-family: @secon-title-font;
	}
	.header{
		display: flex;
		width: 100%;
		.navbar{
			display: flex;
			height: 10vh;
			align-items: center;
			width: 100%;
			justify-content: space-between;
			margin-bottom: 10px;
			a{
				text-decoration: none;
				color: grey;
				font-size: large;
			}
			.logo{
				width: 12%;
			}
		}
	}
	.top-section{
		width: 100%;
		display: flex;
		height: 80vh;
		justify-content: space-between;
		margin-top: 10px;
		padding-bottom: 10vh;
		border-bottom: black 1px solid;
		.button{
			.display(0px);
			width: 50%;
			justify-content: center;
			align-items: center;
			text-align: center;
			h1{
				font-size: 100px;
			}
			btn{
				width: 35%;
				border: 1px solid black;
				padding: 15px; 
				a{
					text-decoration: none;
					color: black;
				}
			}
		}
		.code-img{
			width:40%;
		}
	}
	.features{
		width: 100%;
		.display(0px);
		.top{
			display: flex;
			justify-content: space-between;
			width: 100%;
			height: 25vh;
			align-items: center;
			text-align: justify;
			div{
				width: 47%;
			}
			h1{
				font-size: x-large;
			}
			p{
				font-size: large;
			}
		}
		.middle-img{
			width: 100%;
			height: 30vh;
		}
		.bottom {
			width: 100%;
			display: flex;
			height: 25vh;
			align-items: center;
			text-align: justify;
			justify-content: space-between;
			border-bottom:black 1px solid;
			div{
				width: 31%;
			}
			h1{
				font-size: x-large;
			}
			p{
				font-size: large;
			}
		}
	}
	footer{
		margin-top: 2%;
		width:100%;
		height: 27vh;
		h1{
			font-size: x-large;
		}
		p{
			font-size: large;
			line-height: 2rem;
		}
		.copy{
			text-align: center;
		}
	}
}